<div class="container p-5" fxLayout="column">
    <div class="mb-5" fxLayout="row" fxFlex>
        <div class="text-center" fxShow.xs="false" fxShow.sm="false" fxShow="true" fxFlex>
            <img src="./assets/img/titulo.png" alt="Logo de Simple" class="img-fluid puntero" (click)="regresarLOGIN()">
        </div>
        <div class="text-center" fxShow.xs="true" fxShow.sm="true" fxShow="false" fxFlex>
            <img src="./assets/img/icono.png" alt="Logo de Simple" class="img-fluid icono puntero"
                (click)="regresarLOGIN()">
        </div>
    </div>
    <div class="my-2" fxLayout="row">
        <div class="text-center" fxFlex>
            <h2>Contáctanos</h2>
        </div>
    </div>
    <div class="my-3" fxFlex>
        
    </div>
</div>