<footer class="pt-3 negro container-fluid">
    <div class="d-flex justify-content-around" fxLayout="row" fxLayout.sm="column">
            <div class="text-center mb-2"><button mat-flat-button color="negro" [routerLink]="['faq']">Preguntas Frecuentes</button></div>
            <div class="text-center mb-2"><button mat-flat-button color="negro" [routerLink]="['about']">Acerca De</button></div>
            <div class="text-center mb-2"><button mat-flat-button color="negro" [routerLink]="['contact']">Contáctanos</button></div>
    </div>
    <br>
    <div class="text-center pb-3">
        <div class="text-center">
            <span class="text-muted">By: D.E.D.O. <strong>2020</strong></span>
        </div>
    </div>
</footer>