<mat-sidenav-container *ngIf="active && !loading">

    <!-- Contenido de sidenav -->
    <mat-sidenav #sidenav fixedInViewport="true">
        <div fxLayout="column" class="container" class="text-center">
            <div fxFlex>
                <img src="./assets/img/slogan.png" alt="Slogan" class="img-fluid mx-auto p-3 slogan">
            </div>
            <div class="px-2">
                <hr>
            </div>
            <div fxFlex class="contenedor-sidenav mx-auto">
                <img [src]="user.picture" alt="Foto de perfil" class="rounded-circle">
            </div>
            <div fxFlex class="mt-2">
                <h3>
                    <strong [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.username)">
                        {{user.username}}
                    </strong>
                </h3>
            </div>
            <div class="px-2">
                <hr>
            </div>
            <div fxFlex>
                <button mat-flat-button [routerLink]="['home']" [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Inicio')" class="mb-3" (click)="sidenav.toggle()">Inicio
                    <mat-icon>home</mat-icon></button>
            </div>
            <div fxFlex>
                <button mat-flat-button [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Mi perfil')"
                    class="my-3" (click)="navegarUsuario(sidenav, true)">Mi Perfil
                    <mat-icon>account_circle</mat-icon></button>
            </div>
            <div fxFlex>
                <button mat-flat-button [routerLink]="['settings']" [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Configuración de la cuenta')" class="my-3"
                    (click)="sidenav.toggle()">Configuración
                    <mat-icon>settings</mat-icon></button>
            </div>
            <div fxFlex>
                <button mat-flat-button [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Cerrar barra lateral')" class="my-3" (click)="sidenav.toggle()"
                    color="rojo">Volver
                    <mat-icon>close</mat-icon></button>
            </div>
        </div>
    </mat-sidenav>






    <mat-sidenav-content>


        <!-- Toolbar cuando esta grande -->
        <mat-toolbar color="primary" class="fixed-top border-dark border-bottom" fxLayout="row" fxShow.sm="false"
            fxShow.xs="false">
            <div fxFlex align="start" fxLayout="row">
                <div class="contenedor-navbar ml-5 puntero" fxFlex>
                    <a (click)="navegarUsuario(sidenav, false)" [tabindex]="this.tts.getEnabled()"
                        (focus)="this.tts.play('Perfil de nombre de usuario')">
                        <img [src]="user.picture" alt="Foto de perfil" class="rounded-circle">
                    </a>
                </div>
                <div fxFlex class="ml-5 my-auto">
                    <a [routerLink]="['home']" [tabindex]="this.tts.getEnabled()"
                        (focus)="this.tts.play('Logo de Simple inicio')">
                        <img src="./assets/img/titulo.png" alt="Simple" class="logo-navbar">
                    </a>
                </div>
            </div>
            <div fxFlex align="center">
                <form>
                    <mat-form-field appearance="legacy" floatLabel="never" class="text-center">
                        <input type="text" placeholder="Buscar" aria-label="Text" matInput [formControl]="myControl"
                            [matAutocomplete]="auto" (ngModelChange)="updatedVal($event)"
                            (focus)="this.tts.play('Buscar usuario')">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.username"
                                (click)="userPage(option)" fxLayout="row" [class.d-none]="!show">
                                <div fxFlex>{{ option.username }}</div>
                                <div fxFlex align="end">
                                    <img class="profile-search" [src]="option.picture">
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div fxFlex align="end">
                <span [matBadge]="notifications" matBadgeSize="small" matBadgeColor="warn"
                    class="my-auto mx-4 text-none puntero" [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Número de notificaciones notificaciones nuevas')" (click)="openDialog()"
                    (keyup.enter)="openDialog()" [matBadgeHidden]="notifications === 0">
                    <mat-icon style="transform: scale(1.4)">notifications</mat-icon>
                </span>
                <a class="my-auto mx-4 text-none" [routerLink]="['settings']" [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Configuración de la cuenta')">
                    <mat-icon style="transform: scale(1.4)">settings</mat-icon>
                </a>
            </div>
        </mat-toolbar>





        <!-- Toolbar cuando esta chiquito -->
        <mat-toolbar color="primary" class="fixed-top border-dark border-bottom" fxLayout="row" fxShow="false"
            fxShow.sm="true" fxShow.xs="true">
            <div fxFlex align="start">
                <span class="my-auto mx-4 puntero" (click)="sidenav.toggle()" [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Abrir menu lateral')" (keyup.enter)="sidenav.toggle()">
                    <mat-icon style="transform: scale(1.4)">menu</mat-icon>
                </span>
            </div>
            <div fxFlex align="center">
                <form>
                    <mat-form-field appearance="legacy" floatLabel="never" class="text-center">
                        <input type="text" placeholder="Buscar" aria-label="Text" matInput [formControl]="myControl"
                            [matAutocomplete]="auto" (ngModelChange)="updatedVal($event)"
                            (focus)="this.tts.play('Buscar usuario')">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.username"
                                (click)="userPage(option.username)" fxLayout="row" [class.d-none]="!show">
                                <div fxFlex>{{ option.username }}</div>
                                <div fxFlex align="end">
                                    <img class="profile-search" [src]="option.picture">
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div fxFlex align="end">
                <span [matBadge]="notifications" matBadgeSize="small" matBadgeColor="warn"
                    class="my-auto mx-4 text-none puntero" [tabindex]="this.tts.getEnabled()"
                    (focus)="this.tts.play('Número de notificaciones notificaciones nuevas')" (click)="openDialog()"
                    (keyup.enter)="openDialog()" [matBadgeHidden]="notifications === 0">
                    <mat-icon style="transform: scale(1.4)">notifications</mat-icon>
                </span>
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>