<div class="container p-5">
    <app-header></app-header>
    <div class="col text-center">
        <h2 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Inicio del administrador')">
            Todos los usuarios
        </h2>
    </div>
    <hr>
    <div class="mx-auto text-center" *ngIf="newUser">
        <form id="signupForm" [formGroup]="signupForm" (ngSubmit)="submitSignup()" *ngIf="!cargando">
            <mat-form-field appearance="outline" floatLabel="auto">
                <mat-label>Nombre y apellido</mat-label>
                <input type="text" matInput placeholder="Nombre y apellido" name="name" formControlName="name"
                    (focus)="this.tts.play('Nombre y apellido')">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" floatLabel="auto">
                <mat-label>Nombre de usuario</mat-label>
                <input type="text" matInput placeholder="Nombre de usuario" name="username" formControlName="username"
                    (focus)="this.tts.play('Nombre de usuario')">
                <span style="color: red;" *ngIf="signupForm.controls['username'].hasError('res')"
                    (focus)="this.tts.play('El nombre de usuario ya esta en uso')">El
                    nombre de usuario ya esta en uso</span>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" floatLabel="auto">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput placeholder="Correo electrónico" name="email" formControlName="email"
                    (focus)="this.tts.play('Correo electrónico')">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" floatLabel="auto">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña" name="password" formControlName="password"
                    (focus)="this.tts.play('Contraseña')">
            </mat-form-field>
            <br><br>
            <mat-radio-group formControlName="sexo" class="pt-5">
                <mat-radio-button value="hombre" class="mx-2" color="primary" (change)="this.tts.play('Hombre')">Hombre
                </mat-radio-button>
                <mat-radio-button value="mujer" class="mx-2" color="accent" (change)="this.tts.play('Mujer')">Mujer
                </mat-radio-button>
            </mat-radio-group>
            <hr>
            <button id="btnSubmitLogin" mat-raised-button type="submit" color="negro" class="mx-3"
                (focus)="this.tts.play('Crear usuario')">Crear usuario</button>
            <button mat-raised-button color="rojo" class="mx-3" (click)="estadoINICIO()"
                (focus)="this.tts.play('Cancelar')">Cancelar</button>
        </form>
        <mat-spinner class="mx-auto" *ngIf="cargando"></mat-spinner>
    </div>
    <div class="mx-auto text-center" *ngIf="!newUser">
        <button mat-stroked-button (click)="nuevoUsuario()" (focus)="this.tts.play('Crear nuevo usuario')">Crear nuevo
            usuario</button>
    </div>
    <hr>
    <div class="mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Username')">
                        Username
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Name')">
                        Name
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Sex')">
                        Sex
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Picture')">
                        Picture
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Delete')">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.username)">
                        {{user.username}}</th>
                    <td [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.name)">{{user.name}}</td>
                    <td [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.sex)">{{user.sexo}}</td>
                    <td>
                        <div class="contenedor-card mx-auto puntero">
                            <a (click)="goToProfile(user.username)" [tabindex]="this.tts.getEnabled()"
                                (focus)="this.tts.play('Perfil de ' + user.username)">
                                <img [src]="user.image" alt="Foto de perfil" class="rounded-circle">
                            </a>
                        </div>
                    </td>
                    <td><button mat-raised-button color="rojo" (click)="borrarUsuario(user)"
                            [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Delete user')">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>