<div class="container p-5">
    <app-header></app-header>
    <div class="col text-center">
        <h2 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Inicio del administrador')">
            Todos los usuarios
        </h2>
    </div>
    <hr>
    <mat-spinner class="mx-auto" *ngIf="cargando"></mat-spinner>
    <div class="mx-auto" *ngIf="!cargando">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Username')">
                        Username
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Name')">
                        Name
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Sex')">
                        Sex
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Picture')">
                        Picture
                    </th>
                    <th scope="col" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Admin')">
                        Admin
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.username)">
                        {{user.username}}</th>
                    <td [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.name)">{{user.name}}</td>
                    <td [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.sex)">{{user.sexo}}</td>
                    <td>
                        <div class="contenedor-card mx-auto puntero">
                            <a (click)="goToProfile(user.username)" [tabindex]="this.tts.getEnabled()"
                                (focus)="this.tts.play('Perfil de ' + user.username)">
                                <img [src]="user.picture" alt="Foto de perfil" class="rounded-circle">
                            </a>
                        </div>
                    </td>
                    <td>
                        {{user.admin}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>