<div class="text-center" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(accion)">
    <h1><strong>{{accion}}</strong></h1>
</div>
<mat-spinner class="mx-auto my-auto" *ngIf="loading"></mat-spinner>
<div *ngIf="!loading && users.length !== 0">
    <mat-card *ngFor="let user of users" class="my-2 puntero profile-card" (click)="goToProfile(user.username, cerrar)"
        [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Perfil de ' + user.username)">
        <mat-card-header class="d-flex justify-content-around">
            <div class="contenedor-card" mat-card-avatar>
                <a>
                    <img [src]="user.picture" alt="Foto de perfil" class="rounded-circle">
                </a>
            </div>
            <p class="my-auto">
                {{user.username}}
            </p>
        </mat-card-header>
    </mat-card>
</div>
<div *ngIf="users.length === 0" [tabindex]="this.tts.getEnabled()"
    (focus)="this.tts.play('Nadie a reaccionado a esta publicación')">
    <p>Nadie a reaccionado a esta publicación</p>
</div>
<button hidden [mat-dialog-close]="null" #cerrar>Cerrar</button>