<div class="container p-5 mt-5" fxLayout="column">
    <div fxFlex class="mx-auto text-center">
        <img src="./assets/img/icono.png" alt="Logo de Simple" class="img-fluid icono puntero mb-5"
            (click)="regresarLOGIN()" [tabindex]="this.tts.getEnabled()"
            (focus)="this.tts.play('Logo de Simple, regresar a inicio')" (keydown.enter)="regresarLOGIN()">
        <h2 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Nueva Publicación')">Nuevo Post</h2>
    </div>
    <div fxFlex class="mx-2">
        <hr>
    </div>
    <mat-spinner class="mx-auto" *ngIf="loading"></mat-spinner>
    <form *ngIf="!loading" fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" id="newPostForm"
        [formGroup]="newPostForm" (ngSubmit)="submitNewPostForm()">
        <mat-form-field fxFlex appearance="outline" class="mx-2">
            <mat-label>Escribe lo que piensas...</mat-label>
            <textarea matInput formControlName="texto"></textarea>
        </mat-form-field>
        <div fxFlex fxLayout="column">
            <div fxFlex [fxShow]="showImage" class="px-2">
                <img [src]="imagenURL" alt="Foto que eligió el usuario" class="img-fluid rounded border">
            </div>
            <div fxFlex class="my-2 text-center">
                <button mat-stroked-button (click)="archivo.click()" (focus)="this.tts.play('Elegir imagen')"
                    type="button">Elegir
                    imagen</button>
                <input type="file" accept="image/*" #archivo (click)="changePostPicture()" fxShow="false"
                    (change)="validateAndUpload($event);" formControlName="imagen">
            </div>
        </div>
    </form>
    <div fxFlex class="mx-2" *ngIf="!loading">
        <hr>
    </div>
    <div *ngIf="!loading" fxFlex fxLayout="row" fxLayout.xs="column">
        <div fxFlex class="text-center">
            <button mat-button color="verde" (focus)="this.tts.play('Aceptar')" type="submit"
                form="newPostForm">Aceptar</button>
        </div>
        <div fxFlex class="px-2" fxShow="false" fxShow.xs="true">
            <br>
        </div>
        <div fxFlex class="text-center">
            <button mat-stroked-button color="rojo-stroked" (focus)="this.tts.play('Cancelar')"
                (click)="regresarLOGIN()">Cancelar</button>
        </div>
    </div>
</div>