<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-texttospeech></app-texttospeech>
<app-footer></app-footer>

<!-- EXPLLICACION DE FLEX LAYOUT -->

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6 col-12 border">
            <h1>Soy el div 1</h1>
        </div>
        <div class="col-lg-6 col-12 border">
            <h1>Soy el div 2</h1>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <h1>Soy el div 3</h1>
        </div>
        <div class="col-2 border">
            <h1>Soy el div 4</h1>
        </div>
        <div class="col-md-4 col-12 border">
            <h1>Soy el div 5</h1>
        </div>
    </div>
</div>

<br><br><br><br>
<hr><br><br><br>

<div class="container" fxLayout="column">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
        <div fxFlex class="border">
            <h1>Soy el div 1</h1>
        </div>
        <div fxFlex class="border">
            <h1>Soy el div 2</h1>
        </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxLayout="row" fxFlex>
            <div fxFlex class="border">
                <h1>Soy el div 3</h1>
            </div>
            <div fxFlex="25%" class="border">
                <h1>Soy el div 4</h1>
            </div>
        </div>
        <div fxFlex="34%" class="border">
            <h1>Soy el div 5</h1>
        </div>
    </div>
</div> -->