<div class="container py-5 px-2 mt-5" fxLayout="column">

    <mat-spinner *ngIf="loadingPosts" class="mx-auto my-auto"></mat-spinner>

    <div fxFlex *ngIf="!loadingPosts && this.posts.length < 1" class="text-center">
        <h1 class="my-auto"><strong [tabindex]="this.tts.getEnabled()"
                (focus)="this.tts.play('No hay posts para mostrar, empieza a seguir a alguien')">
                No hay posts para mostrar,
                empieza a seguir a alguien
            </strong></h1>
    </div>

    <div fxFlex class="mx-auto" *ngIf="!loadingPosts && this.posts.length > 0">
        <div class="text-center">
            <h1><strong [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Inicio')">
                    INICIO
                </strong></h1>
        </div>
        <br>

        <app-posts [posts]="allPosts" [username]="user.username" [pictures]="pictures"></app-posts>

        <br>
        <div class="text-center">
            <button mat-fab (click)="loadMorePosts()" (focus)="this.tts.play('Cargar más publicaciones')"
                matTooltip="Cargar más Posts" matTooltipPosition="before" matTooltipShowDelay="500"
                matTooltipHideDelay="500" color="negro">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>

</div>