<div class="container p-5" fxLayout="column">

    <app-header></app-header>
    
    <div class="my-2" fxFlex>
        <div class="text-center">
            <h2>Preguntas Frecuentes</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let pregunta of frecuentes">
                    <mat-expansion-panel-header class="right-aligned-header">
                        <mat-panel-title>
                            {{pregunta.titulo}}
                        </mat-panel-title>
                        <mat-panel-description fxShow.xs="false" fxShow.sm="false" fxShow="true">
                            {{pregunta.info}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{pregunta.contenido}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>