<div class="container py-5">

    <mat-spinner class="mx-auto my-5" *ngIf="loadingUser"></mat-spinner>

    <div *ngIf="!loadingUser && !noExiste" class="my-5" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex>
            <div fxLayout="column" class="text-center">
                <div fxFlex class="mx-auto px-3 pb-3 contenedor">
                    <img class="profile-profile rounded-circle" [src]="user.picture" alt="Foto de perfil">
                </div>
                <div fxFlex class="px-2">
                    <hr>
                </div>
                <div fxFlex>
                    <h1><strong [tabindex]="this.tts.getEnabled()"
                            (focus)="this.tts.play(user.username)">{{user.username}}</strong>
                    </h1>
                    <h2 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.name)">
                        {{user.name}}
                    </h2>
                    <h3 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(user.sexo)">
                        {{user.sexo}}
                    </h3>
                    <h3 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Eys acumulados')">
                        <strong>Eys: </strong>{{this.contarLikes()}}</h3>
                    <h3 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Publicaciones totales')">
                        <strong>Posts: </strong>{{posts.length}}</h3>
                </div>
                <div fxFlex class="px-2">
                    <hr>
                </div>
                <div fxFlex fxLayout="row" fxLayout.xs="column">
                    <div fxFlex>
                        <button mat-raised-button color="negro" (focus)="this.tts.play('Siguiendo')"
                            (click)="verSiguiendo()" [disabled]="this.disabled">Siguiendo:
                            <strong>{{ user.siguiendo.length }}</strong></button>
                    </div>
                    <div fxFlex class="px-2" fxShow="false" fxShow.xs="true">
                        <br>
                    </div>
                    <div fxFlex>
                        <button mat-raised-button color="negro" (focus)="this.tts.play('Seguidores')"
                            (click)="verSeguidores()" [disabled]="this.disabled">Seguidores:
                            <strong>{{ user.seguidores.length }}</strong></button>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex class="px-2 mb-3" fxShow="false" fxShow.sm="true" fxShow.xs="true">
            <hr>
        </div>

        <div fxFlex fxLayout="column">
            <button mat-stroked-button [color]="this.getSeguirColor()" class="mx-4"
                (focus)="this.tts.play(siguiendo ? 'Dejar de seguir' : 'Seguir')" (click)="seguirChange()"
                *ngIf="botonSeguirEnabled" [disabled]="this.disabled">
                {{ siguiendo ? "Dejar de seguir" : "Seguir" }}
            </button>
            <button mat-stroked-button color="negro" class="mx-4" (focus)="this.tts.play('Editar perfil')"
                *ngIf="!botonSeguirEnabled" (click)="editarPerfil()" [disabled]="this.disabled">
                Editar perfil
            </button>
            <br>
            <button mat-stroked-button color="gris" class="mx-4" (focus)="this.tts.play('Generar código QR')"
                (click)="openQrDialogComponent()" [disabled]="this.disabled">
                Generar código QR
            </button>
            <div class="px-2">
                <hr>
            </div>
            <div fxFlex>
                <!-- AQUI IRIAN LOS POSTS -->
                <div class="my-auto text-center d-block" *ngIf="posts.length === 0">
                    <h1 class="my-auto" [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Aun no hay posts')">
                        AUN NO HAY POSTS
                    </h1>
                </div>
                <app-posts [posts]="posts" [username]="this.myUser.username" [pictures]="pictures"
                    *ngIf="posts.length !== 0">
                </app-posts>
            </div>
        </div>
    </div>

    <div *ngIf="noExiste" class="my-5 text-center">
        <h1><strong>Este usuario no existe</strong></h1>
    </div>
</div>