<mat-card class="post-card mb-3" *ngFor="let post of posts">
    <mat-card-header>
        <div class="contenedor-card puntero" mat-card-avatar>
            <a (click)="goToProfile(post.username)" [tabindex]="this.tts.getEnabled()"
                (focus)="this.tts.play('Perfil de ' + post.username)">
                <img [src]="getProfilePicture(post.username)" alt="Foto de perfil" class="rounded-circle">
            </a>
        </div>
        <mat-card-title [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(post.username)">
            {{post.username}}</mat-card-title>
        <mat-card-subtitle [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(this.formatDate(post.date))">
            {{this.formatDate(post.date)}}
        </mat-card-subtitle>
    </mat-card-header>
    <br>
    <div class="text-center mx-1">
        <img mat-card-image [src]="post.image | domseguro" alt="Imagen del post"
            class="img-fluid border rounded post-image" *ngIf="post.image !== ''">
    </div>
    <mat-card-content>
        <p [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play(post.text)">
            {{post.text}}
        </p>
        <hr>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-mini-fab color="gris" (click)="verEys(post)" class="mr-2"
            (focus)="this.tts.play('Ver quién reaccionó a esta publicación')" [disabled]="this.disabled">
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
        <button mat-flat-button [color]="this.getEyColor(post)" (click)="darLike(post)"
            (focus)="this.tts.play('Ey esta Publicación')" class="ml-2" [disabled]="this.disabled">
            <mat-icon class="mr-3">thumb_up</mat-icon>
            <strong>{{post.likes.length}}</strong>
        </button>
    </mat-card-actions>
</mat-card>