html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.icono {
  max-width: 200px;
}
.mat-negro {
  background-color: black;
  color: white;
}
.mat-azul {
  background-color: rgb(31, 31, 161);
  color: white;
}
.mat-rojo {
  background-color: red;
  color: white;
}
.mat-rojo-stroked {
  stroke: red;
  color: red;
}
.mat-verde {
  background-color: rgb(52, 223, 52);
  color: white;
}
.mat-gris {
  background-color: rgb(48, 48, 48);
  color: white;
}
.mat-post {
  background-color: rgb(74, 202, 57);
  color: white;
}
.mat-post:hover {
  background-color: rgb(184, 243, 176);
  color: white;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgba(7, 7, 7, 0.801) !important;
}
.puntero {
  cursor: pointer;
}
.basic-container {
  padding: 5px;
}
.version-info {
  font-size: 8pt;
  float: right;
}
.right-aligned-header > .mat-content {
  justify-content: space-between;
}
.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
.logo-navbar {
  max-width: 130px;
}
.profile-navbar {
  width: 55px;
  height: 55px;
}
.profile-search {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.mat-toolbar.mat-primary {
  background: linear-gradient(
    0deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(170, 170, 170, 1) 96%
  );
  color: black;
}
.slogan {
  max-width: 300px;
}
.mat-option {
  height: 70px !important;
  line-height: 70px !important;
}
.text-none {
  color: inherit;
  text-decoration: none;
}
.text-none:hover {
  color: rgb(141, 141, 141);
}
.contenedor {
  position: relative;
  width: 100%; /* The size you want */
  max-width: 300px;
}
.contenedor:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.contenedor img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.contenedor-sidenav {
  position: relative;
  width: 100%; /* The size you want */
  max-width: 250px;
}
.contenedor-sidenav:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.contenedor-sidenav img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.contenedor-navbar {
  position: relative;
  width: 100%; /* The size you want */
  max-width: 55px;
}
.contenedor-navbar:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.contenedor-navbar a img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.contenedor-edit {
  position: relative;
  width: 100%; /* The size you want */
  max-width: 100px;
}
.contenedor-edit:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.contenedor-edit img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.contenedor-card {
  position: relative;
  width: 100%; /* The size you want */
  max-width: 55px;
}
.contenedor-card:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.contenedor-card a img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.post-image {
  max-width: 600px;
}
.post-card {
  max-width: 650px;
}
