<div class="container p-5" fxLayout="column">

    <app-header></app-header>

    <div class="my-2" fxFlex>
        <div class="text-center">
            <h2 [tabindex]="this.tts.getEnabled()" (focus)="this.tts.play('Configuración de la cuenta')">Configuración
                de la cuenta</h2>
        </div>
    </div>
    <div class="text-center my-2" fxFlex>
        <button mat-flat-button color="rojo" (click)="cerrarSesion()" [tabindex]="this.tts.getEnabled()"
            (focus)="this.tts.play('Cerrar sesión')">Cerrar Sesión
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </div>
    <br>
    <div class="text-center my-2" fxFlex>
        <button mat-flat-button color="negro" [tabindex]="this.tts.getEnabled()"
            (focus)="this.tts.play('Editar información')" (click)="editarInfo()">Editar información
            <mat-icon>create</mat-icon>
        </button>
    </div>
</div>